
<!-- <div class="panel panel-default"> -->
  <div id="bottom-right" class="panel-heading col-md-3 col-sm-6 panel panel-default">
  <button type="button" class="btn btn-danger pagesLabel">X</button>
  <button type="button" class="btn btn-danger pagesLabel">X</button>
  <button type="button" class="btn btn-danger pagesLabel">X</button>
  <button type="button" class="btn btn-success pagesLabel">-></button>

  </div>
  <div class="panel-body">
  	

     <h5>My Hotel</h5>
    <ul><li>[xxxxxxxxxxx]</li></ul>

    <h5>My Restaurants</h5>
    <ul><li>[xxxxxxxxxxx]</li></ul>

    <h5>My Things To Do</h5>
    <ul><li>[xxxxxxxxxxx]</li></ul>
  </div>
<!-- </div> -->
