{% extends "layout.html" %}

{% block content %}
    <h5>Hotels</h5>
    <ul class="list-unstyled list-inline" >
	    <li>
		    <select class="form-control selectClass">
		    {% for hotel in all_hotels %}
		    	<option value="{{hotel.name}}">
		    		{{ hotel.name }}
		    	</option>
		    {% endfor %}
		    </select>
		</li>
	    <li>
	    	<button type="button" class="btn btn-primary">+</button>
	    </li>
	</ul>

    <h5>Restaurants</h5>
    <ul class="list-unstyled list-inline" >
    	<li>
		    <select class="form-control selectClass">
		    	{% for restauraunt in all_restaurants %}
		    		<option value="{{restaurant.name}}">
		    			{{ restauraunt.name }}
		    		</option>
		    	{% endfor %}
		    </select>
		</li>
		<li>
	    	<button type="button" class="btn btn-primary">+</button>
	    </li>
	</ul>

    <h5>Things To Do</h5>
    <ul class="list-unstyled list-inline" >
    	<li>
		    <select class="form-control selectClass" id="things">
		    	{% for thing in all_things_to_do%}
		    		<option value="{{thing.name}}">
		    			{{ thing.name }}
		    		</option>
		    	{% endfor %}
		    </select>
		</li>
    	<li>
	    	<button type="button" class="btn btn-primary">+</button>
	    </li>
    </ul>




{% endblock %}
